#container {
    background-color: rgb(211, 208, 208) !important;
    color:black;
    
    
}
#teks {
   padding-left: 150px;
}

#button {
    background-color: rgb(78, 77, 77);
    font-size: small;
    outline-color: rgb(78, 77, 77); ;
}
.card-group{
    padding:4rem 12rem;
}