#bungkus {
    display: block;

}
.heading {
    font-size: 25px !important;
    color: rgb(5, 4, 4);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.subheading {
    font-size: 15px !important;
    color: rgb(112, 109, 109);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.foto {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
.teks {
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    line-height: 24px;
}